﻿
@model IEnumerable<SIGEP.models.StudentTask>
@{
    ViewData["Title"] = "diary";
}

<div class="panel-heading d-flex align-items-center justify-content-between">
    <h4 class="h4 panel-title align-content-center" id="estagioProjetoTitle">Diário do Aluno</h4>
</div>
<div class="row products products-big" style="margin-bottom:1vh;">
    <div class="col-lg-10 col-md-12">
        <button class="btn btn-template-main" type="button" data-toggle="modal" data-target="#diary-modal">Adicionar Tarefa</button>
        <button class="btn btn-template-main" type="button">Descarregar para pdf</button>
    </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="tableInformationUser">
            <thead>
                <tr>
                    <th>Data Início</th>
                    <th>Data Fim</th>
                    <th>Tarefa</th>
                    <th>Descrição</th>
                    <th>Apagar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                <tr >
                    <td>@Html.DisplayFor(modelItem => task.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => task.TaskEndDate)</td>
                    <td>@Html.DisplayFor(modelItem => task.Title)</td>
                    <td>@Html.DisplayFor(modelItem => task.Description)</td>
                    <td><a asp-controller="StudentTasks" asp-action="DeleteTask" asp-route-id="@task.IdTask"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                }

            </tbody>
        </table>
    </div>
@await Component.InvokeAsync("DiaryTask")



    
