﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<section id="topIndex" style="background:url('images/index/geometric_wallpaper.jpg') center center repeat; background-size: cover; " class="bar background-white relative-positioned">
    <div class="container">
        <div class="home-carousel">
            <div class="dark-mask mask-primary"></div>
            <div class="container">
                <div class="col-md-12">
                    <h1>Sistema de Gestão de Estágios e Projetos</h1>
                    <ul class="list-unstyled">
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white bar">
    <div class="container">
        <p class="lead">Este projeto tem como objetivo fornecer um sistema informático para os participantes dos processos envolventes da Unidade Curricular de Estágio/Projeto em Engenharia de Software, da Licenciatura de Engenharia Informática e de CTESP de Informática, na Escola Superior de Tecnologia de Setúbal do Instituto Politécnico de Setúbal (doravante ESTSetúbal/IPS).</p>
    </div>
</section>
<div style="background:url('images/index/geometric_wallpaper2.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
    <div class="heading text-center">
        <h2>A nossa equipa</h2>
    </div>
    <div class="home-carousel">
        <div class="dark-mask mask-primary2"></div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-1 col-sm-2">
                </div>
                <div class="col-md-2 col-sm-3">
                    <div data-animate="fadeInUp" class="team-member">
                        <a href="https://github.com/Andree37?fbclid=IwAR0S2HaCCx3GOOnzOysxzFGvJQgatgoow5IMPYaIdIoL3o1TTqrfX-vcVJ8"><img src="~/images/team/andre.jpg" alt="" class="img-fluid rounded-circle"></a>
                        <h3><a href="https://github.com/Andree37?fbclid=IwAR0S2HaCCx3GOOnzOysxzFGvJQgatgoow5IMPYaIdIoL3o1TTqrfX-vcVJ8">André Ribeiro</a></h3>
                        <p class="role">Project Manager</p>
                    </div>
                </div>
                <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <a href="team-member.html"><img src="~/images/team/adriana.jpg" alt="" class="img-fluid rounded-circle"></a>
                        <h3><a href="team-member.html">Adriana Oliveira</a></h3>
                        <p class="role">Team Member</p>
                    </div>
                </div>
                <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <a href="https://github.com/LiteralBucketBoy"><img src="~/images/team/daniel.jpg" alt="" class="img-fluid rounded-circle"></a>
                        <h3><a href="https://github.com/LiteralBucketBoy">Daniel Afonso</a></h3>
                        <p class="role">Team Member</p>
                    </div>
                </div>
                <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <a href="team-member.html"><img src="~/images/team/henoch.jpg" alt="" class="img-fluid rounded-circle"></a>
                        <h3><a href="team-member.html">Henoch Vitureira</a></h3>
                        <p class="role">Team Member</p>
                    </div>
                </div>
                <div data-animate="fadeInUp" class="col-md-2 col-sm-3">
                    <div class="team-member">
                        <a href="https://gitlab.com/nicolemarlenefernandes"><img src="~/images/team/nicole.jpg" alt="" class="img-fluid rounded-circle"></a>
                        <h3><a href="https://gitlab.com/nicolemarlenefernandes">Nicole Fernandes</a></h3>
                        <p class="role">Team Member</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>