﻿
@{
    ViewData["Title"] = "RecuperarPassword";
}
@model RecoverPassword
@section css {
    <link rel="stylesheet" href="~/css/login.css" />
}
<!-- Navbar End-->
<hr id="topHr" />
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/Login">Login</a></li>
                    <li class="breadcrumb-item active"> Recuperar password</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row" id="formLogin">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="box">
                    <h2 class="text-uppercase text-center">Recuperar a sua password</h2>
                    <p class="text-muted">Será enviado um email para recuperação de password</p>
                    <hr>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="text" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-outlined"><i class="fa fa-envelope-o" aria-hidden="true"></i> Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


