﻿@{
    ViewData["Title"] = "ResetPassword";
}
@model ResetPassword

@section css {
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/users.css" />
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger">

                    </div>
                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Password"> </label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"> </label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
