﻿@model IEnumerable<SIGEP.models.Users>

@{
    ViewData["Title"] = "Advisors";
}

@section css {
    <link rel="stylesheet" href="~/css/users.css" />
}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2" id="titlePage">Docentes Orientadores</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Docentes Orientadores</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div id="basket" class="col-lg-12">
                <div class="box mt-0 pb-0 no-horizontal-padding">
                    <form method="#" action="#">
                        <div class="box-footer d-flex justify-content-between align-items-center">
                            <div class="left-col"><button class="btn btn-template-main" data-toggle="modal" data-target="#user-modal" type="button">Inserir Docentes</button></div>
                            <p class="text-muted lead"> Pesquisar por :  </p>
                            <p class="text-muted lead">
                                <input id="text" type="text" class="form-control">
                            </p>
                            <div class="checkbox">
                                <label><input type="checkbox"> Com alunos</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"> Sem alunos</label>
                            </div>
                            <div class="right-col">

                                <button class="btn btn-template-main" type="button">Excluír Seleccionados</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-lg-end align-items-center" style="margin-top:1vh; color:grey;">
                            @if (Model != null)
                            {
                                <p>    Total de : @Model.Count() docentes orientadores</p>
                            }
                        </div>
                        @if (Model != null)
                        {
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nº</th>
                                            <th colspan="2">Nome</th>
                                            <th colspan="2">Email</th>
                                            <th>Editar</th>
                                            <th>
                                                <div class="checkbox">
                                                    <label><input type="checkbox"> Todos</label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var advisor in Model)
                                        {
                                            <tr>
                                                <td>@advisor.UserNumber </td>
                                                <td colspan="2"> @advisor.Name</td>
                                                <td colspan="2">@advisor.Email </td>
                                                <td>Estágio ou Projeto</td>
                                                <td>Editar</td>
                                                <td>
                                                    <div class="checkbox">
                                                        <input type="checkbox">
                                                        <a href='/Users/Delete/@advisor.UserNumber'><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <p> Não existem docentes orientadores. </p>
                        }
                    </form>
                </div>

                <!--  <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                </nav>-->
            </div>
        </div>
    </div>
    <!--  MODAL -->
    <div id="user-modal" tabindex="-1" role="dialog" aria-labelledby="user-modalLabel" aria-hidden="true" class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="login-modalLabel" class="modal-title">Inserir Docentes Orientadores</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form id="import-students-form" method="post" enctype="multipart/form-data">
                        <style>

                            .loader {
                                width: 60px;
                                height: 60px;
                                background: 0 0;
                                border: 10px solid transparent;
                                border-top-color: #f56;
                                border-left-color: #f56;
                                border-radius: 50%;
                                animation: loader .75s 10 ease forwards
                            }

                            @@keyframes loader {
                                100% {
                                    transform: rotate(360deg)
                                }
                            }
                        </style>
                        <div id="inputs" align="center">
                            <div class="custom-file">

                                <input id="customFile" name="files" class="form-control custom-file-input" type="file" />

                                <label id="file-name-label" class="custom-file-label">Escolha um ficheiro</label>

                            </div>
                            <p class="text-center">
                                <button id="btnAddNewAdvisor" class="btn btn-template-outlined" CausesValidation="False">Adicionar</button>
                            </p>
                        </div>
                        @section Scripts{
                            <script>
                                        $(document).ready(function () {
                                            $('.custom-file-input').on("change", function () {
                                                var filename = $(this).val().split("\\").pop();
                                                $(this).next('.custom-file-label').html(filename);
                                            });
                                        });

                                        $(document).ready(function () {
                                            $("#btnAddNewAdvisor").click(function (e) {
                                                e.preventDefault();
                                                var filename = $("#file-name-label").text();
                                                console.log(filename);
                                                if (!(/\.(xlsx|xls|xlsm|csv)$/i).test(filename)) {
                                                    alert('Please upload valid excel file .xlsx, .xlsm, .xls, csv only.');
                                                    $("#file-name-label").text("Escolha um ficheiro");
                                                } else {
                                                   // $("#import-students-form").submit();
                                                    uploadFile();

                                                        @*$("#import-students-form").submit(function (event) {
                                                            event.preventDefault(); //prevent default action
                                                            var post_url = $(this).attr("action"); //get form action url
                                                            var request_method = $(this).attr("method"); //get form GET/POST method
                                                            var form_data = $(this).serialize(); //Encode form elements for submission

                                                            $.ajax({
                                                                url: "@Url.Action("ImportExcelAsync", "Users")",
                                                                type: request_method,
                                                                data: form_data
                                                            }).done(function (response) { //
                                                                alert(response);
                                                            });*@
                                                }
                                            });
                                        });

                                      function uploadFile() {


                                          var formData = new FormData();
                                            formData.append('file', $('#customFile')[0].files[0]); // myFile is the input type="file" control

                                            var _url = '@Url.Action("UploadAdvisorFile", "Users")';

                                            document.getElementById('inputs').innerHTML = '<div align="center" class="loader"></div>';
                                            $.ajax({
                                                url: _url,
                                                type: 'POST',
                                                data: formData,
                                                processData: false,  // tell jQuery not to process the data
                                                contentType: false,  // tell jQuery not to set contentType
                                                success: function (result) {
                                                    //alert(result);
                                                },
                                                error: function (error) {
                                                    alert(error);
                                                },
                                                complete: function (jqXHR, status) {
                                                    document.getElementById('inputs').innerHTML = `
                                                        <div class="custom-file">

                                                            <input id="customFile" name="files" class="form-control custom-file-input" type="file" />

                                                            <label id="file-name-label" class="custom-file-label">Escolha um ficheiro</label>

                                                        </div>
                                                        <p class="text-center">
                                                            <button id="btnAddNewAdvisor" class="btn btn-template-outlined" CausesValidation="False">Adicionar</button>
                                                        </p>`

                                                    $('#user-modal').modal('toggle');
                                                    $('#studentGrid').load(document.URL + ' #studentGrid');
                                                }
                                            });
                                       }

                            </script>

                        }
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL -->


