﻿@model SIGEP.models.Users
@{
    ViewData["Title"] = "Perfil";
}
@section css {
    <link rel="stylesheet" href="~/css/perfil.css" />
}
<div id="content">
    <div class="container">
        <div class="row bar">
            <div class="col-md-4" id="userInformationLeft">
                <!-- MENUS AND FILTERS-->
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-body">
                        <div data-animate="fadeInUp" class="team-member">
                            <img src="~/images/users/@ViewBag.user_photo" alt="" id="perfilPhoto" class="img-fluid">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Escolha um ficheiro</label>
                            </div>
                            <h3 id="nameUserLeft">@Model.Name</h3>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading d-flex align-items-center justify-content-between">
                        <h3 class="h4 panel-title">Informações</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="md-form form-lg">
                                <label for="inputNome">Número : @Model.UserNumber </label>
                            </div>
                            <div class="md-form form-lg">
                                <label for="inputNome">Email Instituicional : @Model.Email  </label>
                            </div>
                            <div class="md-form form-lg">
                                <label for="inputNome">Morada : @Model.Address </label>
                                 </div>
                            <div class="md-form form-lg">
                                <label for="inputNome">Password : <a href="/Home/ResetPassword?email=@Model.Email&token=1" class="btn btn-sm btn-template-outlined"><i class="fa fa-times-circle"></i><span class="d-none d-md-inline-block">Alterar Password</span></a> </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7" id="rightSideUserInformation">
                <div class="panel-heading d-flex align-items-center justify-content-between">
                    <h3 class="h4 panel-title align-content-center" id="estagioProjetoTitle">Informações relativas ao Estágio/Projeto</h3>
                </div>
                <div class="row products products-big">
                    <div class="col-lg-4 col-md-6">
                        <div class="text">
                            <h3 class="h5">Estágio/Projeto: </h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="text">
                            <h3 class="h5">Docente Orientador: </h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="text">
                            <h3 class="h5">Notas: </h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" id="tableInformationUser">
                        <thead>
                            <tr>
                                <th>Contrato/Acordo de Estágio/Projeto</th>
                                <th colspan="2">Plano de Estágio/Projeto</th>
                                <th colspan="2">Relatório</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Contrato/Acordo</td>
                                <td colspan="2">Plano</td>
                                <td colspan="2">
                                    <button class="btn btn-template-main" type="button">Enviar Relatório</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @await Component.InvokeAsync("DiaryEntry")
            </div>
        </div>
    </div>
</div>
<!--  MODAL - Alterar password -->
<div id="user-modal" tabindex="-1" role="dialog" aria-labelledby="user-modalLabel" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="login-modalLabel" class="modal-title">Alterar password</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="Post">
                    <div class="form-group">
                        <label for="password">Nova Password : </label>
                        <input id="password" asp-for="Password" type="password" class="form-control">
                        <input id="UserNumber" asp-for="UserNumber" type="hidden" class="form-control">
                        <input id="Address" asp-for="Address" type="hidden" class="form-control">
                        <input id="Email" asp-for="Email" type="hidden" class="form-control">
                        <input id="UserTypesIdType" asp-for="UserTypesIdType" type="hidden" class="form-control">
                        <input id="Name" asp-for="Name" type="hidden" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirmar Password : </label>
                        <input id="ConfirmPassword" type="password" class="form-control">
                    </div>
                    <p class="text-center">
                        <button id="btnAddNewStudent" class="btn btn-template-outlined">Alterar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL - Alterar password -->

