﻿/* .main-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

#formLogin {
    background-color: aliceblue;
}*/

#contentLoginForm {
    background-color: aliceblue;
}

#heading-breadcrumbs {
    background-color: rgba(1, 131, 178, 0.9);
}

h1#titlePage {
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-item a {
    color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

#content {
    margin-top: 2vh;
    margin-bottom: 2vh;
}