﻿#userInformationLeft {
    background-color: aliceblue;
}

#perfilPhoto {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#rightSideUserInformation {
    background-color: aliceblue;
    margin-left: 1.5vh;
}

#tableInformationUser{
    background-color: white;
}

#estagioProjetoTitle {
    margin-bottom: 3.5vh;
    margin-top: 3.5vh;
}

.bar
{
    padding:0 !important;
}

#nameUserLeft
{
    margin-top : 2vh;
    text-align: center;
}