﻿@model IEnumerable<SIGEP.models.HostingEntity>

@{
    ViewData["Title"] = "Index";
}
@section css {
    <link rel="stylesheet" href="~/css/users.css" />
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2" id="titlePage">Entidades</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Entidades</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="margin-top: 5%;">
                    <h2 class="text-uppercase">Consultar Entidades</h2>
                    <hr>
                    <div class="box mt-0 pb-0 no-horizontal-padding">
                        <div class="box-footer d-flex justify-content-between align-items-center">
                            <div class="left-col">
                                <button class="btn btn-template-main" data-toggle="modal" data-target="#hosting-entity-modal" type="button" id="createEntity">Inserir Entidade</button>
                            </div>
                            @section scripts{
                                <script>
                                document.getElementById("createEntity").addEventListener('click', function () {
                                location.href = '@Url.Action("Create", "HostingEntities")';
                                });
                                </script>
                            }
                            <p class="text-muted lead"> Pesquisar por :  </p>
                            <p class="text-muted lead">
                                <input id="text" type="text" class="form-control">
                            </p>
                            <div class="right-col">
                                <button class="btn btn-template-main" type="button">Excluír Seleccionados</button>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserRep)
                                </th>
                                <th>Editar</th>
                                <th>
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Todos</label>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telephone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserRepNavigation.Name)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.IdHostingEntity">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.IdHostingEntity">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.IdHostingEntity">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

