﻿@model SIGEP.models.Activities

@{
    ViewData["Title"] = "Create";
}

@section css {
    <link rel="stylesheet" href="~/css/users.css" />
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2" id="titlePage">Criar Atividade</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Atividades</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div class="col-lg-8 offset-lg-2">
                <div style="margin-top: 5%;">
                    <h2 class="text-uppercase">Inserir um Estágio/Projeto</h2>
                    <hr />
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="IdHostingEntity" class="control-label"></label>
                                <select asp-for="IdHostingEntity" class="form-control" asp-items="ViewBag.IdHostingEntity"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdActivityTypes" class="control-label"></label>
                                <select asp-for="IdActivityTypes" class="form-control" asp-items="ViewBag.IdActivityTypes"></select>
                            </div>
                            @*<div class="form-group">
                                <label asp-for="IdStudent" class="control-label"></label>
                                <select asp-for="IdStudent" class="form-control" asp-items="ViewBag.IdStudent"></select>
                            </div>*@
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VacancyLimit" class="control-label"></label>
                                <input asp-for="VacancyLimit" class="form-control" />
                                <span asp-validation-for="VacancyLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Location" class="control-label"></label>
                                <input asp-for="Location" class="form-control" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MainRequirements" class="control-label"></label>
                                <textarea  asp-for="MainRequirements" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="MainRequirements" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfidentialityRequirements" class="control-label"></label>
                                <textarea asp-for="ConfidentialityRequirements" rows="4" class="form-control"></textarea>
                                <span asp-validation-for="ConfidentialityRequirements" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UsedTechs" class="control-label"></label>
                                <textarea asp-for="UsedTechs" rows="4" class="form-control"></textarea>
                                <span asp-validation-for="UsedTechs" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Observations" class="control-label"></label>
                                <textarea asp-for="Observations" rows="4" class="form-control"></textarea>
                                <span asp-validation-for="Observations" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Objectives" class="control-label"></label>
                                <textarea asp-for="Objectives" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="Objectives" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="WorkTime" class="control-label"></label>
                                <input asp-for="WorkTime" class="form-control" />
                                <span asp-validation-for="WorkTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>


            </div>
        </div>
    </div>
</div>
