﻿@model SIGEP.models.Activities

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Activities</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdActivity" />
            <div class="form-group">
                <label asp-for="IdHostingEntity" class="control-label"></label>
                <select asp-for="IdHostingEntity" class="form-control" asp-items="ViewBag.IdHostingEntity"></select>
                <span asp-validation-for="IdHostingEntity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdActivityTypes" class="control-label"></label>
                <select asp-for="IdActivityTypes" class="form-control" asp-items="ViewBag.IdActivityTypes"></select>
                <span asp-validation-for="IdActivityTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStudent" class="control-label"></label>
                <select asp-for="IdStudent" class="form-control" asp-items="ViewBag.IdStudent"></select>
                <span asp-validation-for="IdStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacancyLimit" class="control-label"></label>
                <input asp-for="VacancyLimit" class="form-control" />
                <span asp-validation-for="VacancyLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainRequirements" class="control-label"></label>
                <input asp-for="MainRequirements" class="form-control" />
                <span asp-validation-for="MainRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfidentialityRequirements" class="control-label"></label>
                <input asp-for="ConfidentialityRequirements" class="form-control" />
                <span asp-validation-for="ConfidentialityRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsedTechs" class="control-label"></label>
                <input asp-for="UsedTechs" class="form-control" />
                <span asp-validation-for="UsedTechs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observations" class="control-label"></label>
                <input asp-for="Observations" class="form-control" />
                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objectives" class="control-label"></label>
                <input asp-for="Objectives" class="form-control" />
                <span asp-validation-for="Objectives" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTime" class="control-label"></label>
                <input asp-for="WorkTime" class="form-control" />
                <span asp-validation-for="WorkTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

