﻿@model IEnumerable<SIGEP.models.Activities>

@{
    ViewData["Title"] = "Index";
}

@section css {
    <link rel="stylesheet" href="~/css/users.css" />
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2" id="titlePage">Atividades</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Atividades</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container-fluid">
        <div class="row" style="width:100%;">
            <div class="col-lg-12">
                <div style="margin-top: 5%;">
                    <h2 class="text-uppercase">Consultar Entidades</h2>
                    <hr>
                    <div class="box mt-0 pb-0 no-horizontal-padding">
                        <div class="box-footer d-flex justify-content-between align-items-center">
                            <div class="left-col">
                                <button class="btn btn-template-main" data-toggle="modal" data-target="#hosting-entity-modal" type="button" id="createActivity">Inserir Atividade</button>
                            </div>
                            @section scripts{
                                <script>
                                document.getElementById("createActivity").addEventListener('click', function () {
                                location.href = '@Url.Action("Create", "Activities")';
                                });
                                </script>
                            }
                            <p class="text-muted lead"> Pesquisar por :  </p>
                            <p class="text-muted lead">
                                <input id="text" type="text" class="form-control">
                            </p>
                            <div class="right-col">
                                <button class="btn btn-template-main" type="button">Excluír Seleccionados</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Location)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdActivityTypesNavigation.Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdHostingEntityNavigation.Telephone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdStudentNavigation.Name)
                                    </th>
                                    <th>Editar</th>
                                    <th>
                                        <div class="checkbox">
                                            <label><input type="checkbox"> Todos</label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Location)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdActivityTypesNavigation.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdHostingEntityNavigation.Telephone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdStudentNavigation.Name)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.IdActivity">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.IdActivity">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.IdActivity">Delete</a>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox">
                                            <a href="#"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
