﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIGEP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Roboto-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="~/vendor/bootstrap-select/css/bootstrap-select.min.css">
    <!-- owl carousel-->
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    @RenderSection("css", required: false)
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div id="all">
        <!-- Top bar-->
        <div class="top-bar">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 d-md-block d-none">
                        <p>Contacte o suporte para esclarecimentos : suggestions.nahda@gmail.com</p>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-md-end justify-content-between">
                            @if (HttpContextAccessor.HttpContext.Session.GetString("_Email") == null)
                            {
                                <div class="login">
                                    <a href="/Login" class="login-btn">
                                        <i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Login</span>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="perfil">
                                    <a href="/Perfil" class="login-btn">
                                        <i class="fa fa-user-circle" aria-hidden="true"></i><span class="d-none d-md-inline-block">@HttpContextAccessor.HttpContext.Session.GetString("_Email")</span>
                                    </a>
                                </div>
                            }
                            <div class="notifications">
                                <a href="#" class="login-btn">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="calendar">
                                <a href="#" class="login-btn">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </a>
                            </div>
                            @if (HttpContextAccessor.HttpContext.Session.GetString("_Email") != null)
                            {
                                <div class="logout">
                                    <a href="/Home/Logout" class="login-btn">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </a>
                                </div>
                            }
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar end-->
        <!-- Navbar Start-->
        <header class="nav-holder make-sticky">
            <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
                <div class="container">
                    <img src="~/images/logos/logo.png" alt="SIGEP logo" class="d-none d-md-inline-block" id="logoInitial"><img src="~/images/logos/logo.png" alt="Universal logo" class="d-inline-block d-md-none">
                    <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                    <div id="navigation" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav ml-auto">

                            <li class="nav-item dropdown active">
                                <a href="/Home">Home </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="/Contacts">Contactos</a>
                            </li>
                            @if (HttpContextAccessor.HttpContext.Session.GetString("_Email") != null)
                            {
                                <li class="nav-item dropdown">
                                    <a href="/Students">Alunos</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="/Advisors">Docentes Orientadores</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="/Activities">Estágios/Projetos</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer class="main-footer">
            <div class="copyrights" style="margin-top:0% !important">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center-md">
                            <p>Suporte : suggestions.nahda@gmail.com</p>
                        </div>
                        <div class="col-lg-8 text-right text-center-md">
                            <p>&copy; 2019/2020. NAHDA</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Javascript files-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/popper.js/umd/popper.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/jquery.cookie/jquery.cookie.js"></script>
        <script src="vendor/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="vendor/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
        <script src="js/jquery.parallax-1.1.3.js"></script>
        <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
        <script src="js/front.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
